.horizontal-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inline-elements {
  display: flex;
  margin: 50px 50px 20px 40px;
  padding: 20px;
}

agm-map {
  height: 300px;
}

.alert-limit {
  color: red;
  text-align: center;
}

.alert-limit p {
  display: block;
  margin: 0;
  line-height: 20px;
}

