<section class="inline-elements">
  <app-select-list (emitValue)="pobierzPoOddziale($event)"></app-select-list>

  <div class="horizontal-space flex-row" *ngIf="punkty && punkty.length > 0">
    <app-multiselect *ngFor="let klucz of klucze | keys"
                     [label]="klucz.value"
                     [klucz]="klucz.key"
                     [wartosci]="poKluczu(klucz.key)"
                     (emitValues)="filtruj(klucz.key, $event)"
                     (emitujKolor)="ustawFiltracje(klucz.key); elementyFiltracji = poKluczu(klucz.key)"
                     [czyjestUstawiony]="klucz.key === filtracjaKoloru">
    </app-multiselect>
  </div>
</section>
<div *ngIf="limitPrzekroczony" class="alert-limit">
  <p>Limit puntków został przekroczony.<p>
  <p>Wyświetliłem 400 pierwszych punktów.</p>
</div>
<app-mapa [centrumMapyLat]="centrumMapy.lat"
          [centrumMapyLon]="centrumMapy.lon"
          [punktyPofiltrowane]="punktyPofiltrowane"
          [filtracjaKoloru]="filtracjaKoloru"
          [elementyFiltracji]="elementyFiltracji"
          (emitujMapeKolorow)="ustawSlownik($event)">
</app-mapa>
<app-legenda *ngIf="filtracjaKoloru" [mapaKolorow]="mapaKolorow"></app-legenda>
