.horizontal-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inline-elements {
  margin-bottom: 50px;
}

agm-map {
  height: 300px;
}

.alert-limit {
  color: red;
  text-align: center;
}

.alert-limit p {
  display: block;
  margin: 0;
  line-height: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:5px;
}

.flex-row > app-multiselect:nth-child(-n+2) {
  flex-basis: 50%;
}


.flex-row > app-multiselect:nth-child(n+3) {
  flex-basis: 33%;
}

