.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.szerokosc_multiselect {
  width: 150px;
}

.icon-size {
  height: 24px;
  width: 24px;
}

mat-icon {
  text-decoration: none;
  font-size: 20px;
}

.ustawiony {
  color: red;
}

.nieUstawiony {
  color: blue;
}

.do_prawej {
  float: right;
}
